@using OdeToFood.Entities
@model Restaurant

<div>
    <h1>Create</h1>
    
    <div>
        @using (Html.BeginForm()) // this creates the <form> tag here on top, closes down by the }
        {
            <div>
                @* should collect all the validation messages in one place.*@
                @Html.ValidationSummary()
                @Html.LabelFor(m => m.Name)
                @* making this and EditorFor allows more control to the controler
                    can make define more constraints.*@
                @Html.EditorFor(m => m.Name)
                @* will display if entry doesn't pass validation
                    Same below. would want to format to show up in red.*@
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div>
                @Html.LabelFor(m => m.Cuisine)
                @Html.DropDownListFor(m => m.Cuisine, Html.GetEnumSelectList(typeof(CuisineType)))
                @Html.ValidationMessageFor(m => m.Cuisine)
            </div>
            <div>
                <input type="submit" value="Save!"/>
            </div>
        }

    </div>
</div>
